.session-display-list {
  width: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.session-controls {
  margin-top: 24px;
  margin-bottom: 24px;
}

h3 {
  margin-bottom: 0px;
}
