#jumbo-video {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 100svh;
  right: 0;
  z-index: 1;
}

#jumbo-video::-webkit-media-controls {
  display: none;
}

#footer-container {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 3;
}

#title-container {
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100vw;
  display: flex;
  flex-flow: column;
}

#title {
  color: white;
  font-family: "Starblues";
  font-size: 120px;
  font-weight: normal;
}

#work {
  width: 100vw;
  padding-top: 32px;
}

#welcome-container {
  height: 100svh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: end;
}

#welcome-button-row {
  z-index: 2;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

#welcome-button-row a {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 28px;
  font-family: "Tusker-Grotesk";
  text-transform: uppercase;
  color: white;
}

@media only screen and (max-width: 600px), screen and (max-height: 500px) {
  #title {
    font-size: 50px;
  }

  #welcome-button-row a {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
