@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,62..125,100..900;1,62..125,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

body,
html {
  overflow-x: hidden !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

body * {
  transition: font-size 0.25s;
}

@font-face {
  font-family: "Tusker-Grotesk";
  src: url("https://d3amd0zp63qrni.cloudfront.net/assets/fonts/tusker-grotesk/TuskerGrotesk-4500Medium.otf")
    format("opentype");
}

@font-face {
  font-family: "Starblues";
  src: url("https://d3amd0zp63qrni.cloudfront.net/assets/fonts/starblues.otf") format("opentype");
}

a {
  text-decoration: none;
  transition:
    opacity 0.25s,
    font-size 0.25s;
}

a:hover {
  opacity: 0.75;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: "Tusker-Grotesk";
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 30px;
}

p {
  font-family: "Archivo";
}

iframe {
  border: none;
}

img, #footer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
