#work-content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100svh;
}

#work-row-container {
  padding-left: 16px;
  padding-right: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Width and padding must agree with the numbers in work.tsx */
}

body, #root, .work-row-container {
  max-width: 100vw;
  overflow-x: hidden;
}

