#work-content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100svh;
}

#masonry-container {
  margin-left: 16px;
  margin-right: 16px;
  width: calc(100vw - 32px);
}
