#work-content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100svh;
}

#row-container {
  margin-left: 16px;
  margin-right: 16px;
  /* Width and padding must agree with the numbers in work.tsx */
}
