.project-display {
  border-radius: 10px;
  position: relative;

  &.clickable {
    cursor: pointer;
  }
}

.project-display video {
  height: 100%;
  width: auto;
  object-fit: contain;
  padding: 0px; /* Must agree with the padding in VideoRow.tsx */
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.project-display-label-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.25s;
  background-image: linear-gradient(to top, black, rgba(0,0,0,0));
}

.project-display-label {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.project-display-title, .project-display-subtitle {
  color: white;
  font-weight: bold;
  margin: 0px;
}

.project-display-title {
  font-family: 'Impact';
  font-size: 50px;
  text-transform: uppercase;
}

.project-display-subtitle {
  font-family: 'Helvetica';
  font-size: 20px;
  text-transform: lowercase;
}

.project-display:hover .project-display-label-container {
  opacity: 1;
}

.project-display-laurel {
  width: 170px;
  position: absolute;
  top: 20px;
  right: 20px;
}

@media only screen and (max-width: 450px) {
  .project-display video {
    padding-left: 4px; /* Must agree with the padding in VideoRow.tsx */
    padding-right: 4px; /* Must agree with the padding in VideoRow.tsx */
  }
}

@media only screen and (max-width: 650px) {
  .project-display-title {
    font-size: 12px;
  }

  .project-display-subtitle {
    font-size: 8px;
  }

  .project-display-laurel {
    width: 50px;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 650px) {
  .project-display-title {
    font-size: 30px;
  }

  .project-display-subtitle {
    font-size: 12px;
  }

  .project-display-laurel {
    width: 100px;
  }
}
