#title-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  width: 100vw;
  padding-top: 40px;
  padding-bottom: 40px;

  &.compact {
    flex-flow: column;
    width: fit-content;

    & #logo-container {
      margin-left: 0;
      margin-bottom: 12px;
    }

    & #logo, #logo-sub {
      margin: 0;
    }

    & #title-button-row {
      margin: 0;
    }

    & #title-button-row a {
      font-size: 14px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

#title-bar-container a {
  color: black
}

#title-bar-container.dark-mode a {
  color: white;
}

#title-bar-container a {
  margin-left: 10px;
  margin-right: 10px;
}

#title-button-row {
  display: flex;
  flex-flow: row;
  margin-right: 40px;
}

#title-button-row a {
  font-size: 20px;
  font-family: "Tusker-Grotesk";
  text-transform: uppercase;
}

#logo-sub {
  font-size: 12px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

#logo-sub:hover, #logo:hover {
  opacity: initial;
}

#logo-container {
  margin-left: 40px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: opacity .25s;
}

#logo-container:hover {
  opacity: .75;
  cursor: pointer;
}

#logo {
  font-family: "Starblues";
  font-size: 30px;
  font-weight: normal;
  padding: 14px;
  text-transform: none;
  font-weight: normal !important;
}

@media only screen and (max-width: 600px),
screen and (max-height: 400px) {
  #logo {
    font-size: 20px;
    padding: 10px;
  }

  #logo-sub {
    font-size: 8px;
  }

  #title-button-row a {
    font-size: 18px;
  }

  #logo-container {
    margin-left: 14px;
  }

  #title-button-row {
    margin-right: 14px;
  }

  #title-bar-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
