name: Prettier Check

on:
  pull_request:
    - "*"

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: '23'
      - name: Install dependencies
        run: npm ci --prefix frontend
      - name: Run Prettier check
        run: npm run prettier:check



